<p id="notice"><%= notice %></p>

<p>
  <strong>Paid:</strong>
  <%= @credit_card.paid %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @credit_card.amount %>
</p>

<p>
  <strong>Currecy:</strong>
  <%= @credit_card.currecy %>
</p>

<p>
  <strong>Refunded:</strong>
  <%= @credit_card.refunded %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @credit_card.customer_id %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
